.DS_Store
*.iml
.idea/
.git/
*~
node_modules/
target/
*.jar
build/
/nbproject/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
